.mpReset, .header nav ul, .footer p {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Sora', sans-serif;
  background-color: #F7F7F6; }

.header {
  min-height: 10vh;
  margin: 0 auto; }
  .header nav {
    min-height: 10vh;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background-color: #F7F7F6; }
    .header nav ul {
      min-height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none; }
      .header nav ul li {
        width: 5vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20%; }
        .header nav ul li a {
          text-decoration: none;
          color: rgba(105, 105, 105, 0.801);
          font-weight: bold;
          transition: color 1.2s; }
        .header nav ul li a:hover {
          color: black; }

.mainIndex {
  min-height: 80vh; }
  .mainIndex .article .article__header {
    margin: 5vh auto; }
    .mainIndex .article .article__header .h1 {
      color: #FF5200;
      font-weight: 700;
      margin: 10vh 0 0 0;
      padding: 0 5vw 0 5vw; }
    .mainIndex .article .article__header .span {
      color: #FF5200;
      font-weight: 700;
      font-size: xx-large;
      padding: 0 5vw 0 5vw; }
    .mainIndex .article .article__header p {
      margin: 2vh 0 0 0;
      padding: 0 5vw 0 5vw; }
  .mainIndex .article .article__body {
    background-color: white; }
    .mainIndex .article .article__body .article__body--content {
      margin: 0 auto;
      padding: 10vh 5vw 10vh 5vw;
      font-size: 19px; }
      .mainIndex .article .article__body .article__body--content .h2 {
        color: #FF5200;
        font-weight: 700;
        margin: 10vh 0 0 0; }
      .mainIndex .article .article__body .article__body--content .h3 {
        color: #FF5200;
        font-weight: 700;
        margin: 10vh 0 5vh 0; }
      .mainIndex .article .article__body .article__body--content .p {
        margin: 5vh 0 0 0; }
      .mainIndex .article .article__body .article__body--content .blockquote {
        margin: 5vh 0 5vh 0;
        color: #FF5200;
        font-weight: 700; }
        .mainIndex .article .article__body .article__body--content .blockquote span {
          color: #292929; }
      .mainIndex .article .article__body .article__body--content .ol {
        margin: 5vh 0 5vh 0; }
        .mainIndex .article .article__body .article__body--content .ol li {
          margin: 3vh 0 3vh 0; }
          .mainIndex .article .article__body .article__body--content .ol li .liRed {
            color: red; }
          .mainIndex .article .article__body .article__body--content .ol li .liOrange {
            color: orange; }
          .mainIndex .article .article__body .article__body--content .ol li .liYellow {
            color: #FFE600; }
          .mainIndex .article .article__body .article__body--content .ol li .liGreen {
            color: green; }
          .mainIndex .article .article__body .article__body--content .ol li .liBlue {
            color: blue; }
          .mainIndex .article .article__body .article__body--content .ol li .liPurple {
            color: purple; }
          .mainIndex .article .article__body .article__body--content .ol li .liPink {
            color: pink; }
          .mainIndex .article .article__body .article__body--content .ol li .liBrown {
            color: brown; }
          .mainIndex .article .article__body .article__body--content .ol li .liGray {
            color: gray; }
      .mainIndex .article .article__body .article__body--content .img {
        width: 100%; }
      .mainIndex .article .article__body .article__body--content .span {
        color: #FF5200;
        font-weight: 700;
        font-size: xx-large;
        margin: 0 0 20vh 0; }
      .mainIndex .article .article__body .article__body--content .strong {
        margin: 5vh 0; }

@media (min-width: 320px) {
  p {
    font-size: 16px; }
  li {
    font-size: 16px; }
  .footer p {
    font-size: 14px; } }

@media (min-width: 768px) {
  p {
    font-size: inherit; }
  li {
    font-size: inherit; }
  .footer p {
    font-size: inherit; } }

.footer {
  min-height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer p a {
    text-decoration: none;
    color: #0e496d;
    font-weight: bold;
    transition: color 1.2s; }
  .footer p a:hover {
    color: #37a4e4; }
